<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm của chúng tôi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/frame/Style/index.css">
    <link rel="stylesheet" href="/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/flag-icons-main/css/flag-icons.css">
</head>
<body>

<header id="header" class="header shadow-sm">
    <div class="header-bottom fixed-top">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between py-2">

                <!-- Logo -->
                <div class="logo d-flex align-items-center">
                    <a href="#" class="d-block">
                        <img class="" src="/frame/Storage_Img/login-img/Logo-img.webp" alt="Logo" style="height: 60px;">
                    </a>
                </div>

                <!-- Menu -->
                <nav>
                    <ul class="nav">
                        <li class="mx-2"><a href="#" class="nav-link  fw-semibold" data-lang-key="menu_products">Sản Phẩm</a></li>
                        <li class="mx-2"><a href="#" class="nav-link  fw-semibold" data-lang-key="menu_accessories">Phụ kiện</a></li>
                        <li class="mx-2"><a href="#" class="nav-link  fw-semibold" data-lang-key="menu_service">Dịch vụ</a></li>
                        <li class="mx-2"><a href="#" class="nav-link  fw-semibold" data-lang-key="menu_news">Tin tức</a></li>
                    </ul>
                </nav>

                <div class="account d-flex align-items-center">
                    <div class="fw-semibold me-3">
                        <a href="" class="nav-link" data-lang-key="account">Tài khoản</a>
                    </div>

                    <span id="langVN" class="fi fi-vn lang-flag" data-lang="vn"></span>
                    <span id="langEN" class="fi fi-gb lang-flag ms-2" data-lang="en"></span>


                    <!-- Nút Dark Mode -->
                    <button id="toggleDark" class="btn-darkmode ms-3" data-lang-key="dark" style="width: 60px;">
                        Dark
                    </button>
                </div>

            </div>
        </div>
    </div>
</header>
<div id="slider" class="slider-wrapper">
    <a href="#" >
        <img id="slider-img" src="/frame/Storage_Img/slider-img/silder-index-img.jpg" 
             alt="Slider" 
             class="slider-img">

    </a>
</div>
<div class="section-bestSale">
    <div class="container">
        <div class="section-content">
            <div class="bestSale-header">
                <h2 class="bestSale-heading" data-lang-key="heading_best_sale">SẢN PHẨM BÁN CHẠY</h2>
            </div>
            <!-- in ra 3 loại sản phẩm  -->
            <div class="row bestSale-list">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="product-card">
                        <a href=""><img src="/frame/Storage_Img/product-img/product1.jpg" alt=""></a>
                        <a href=""><h3 class="product-title">Tên sản phẩm 1</h3></a>
                        <div class="buy">
                            <p class="product-price">350.000đ</p>
                            <a href="/product/detail/1" class="btn-buy" data-lang-key="buy_now" >Mua ngay</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="product-card">
                        <a href=""><img src="/frame/Storage_Img/product-img/product1.jpg" alt=""></a>
                        <a href=""><h3 class="product-title">Tên sản phẩm 2</h3></a>
                        <div class="buy">
                            <p class="product-price">350.000đ</p>
                            <a href="/product/detail/1" class="btn-buy" data-lang-key="buy_now">Mua ngay</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="product-card">
                        <a href=""><img src="/frame/Storage_Img/product-img/product1.jpg" alt=""></a>
                        <a href=""><h3 class="product-title">Tên sản phẩm 3</h3></a>
                        <div class="buy">
                            <p class="product-price">350.000đ</p>
                            <a href="/product/detail/1" class="btn-buy" data-lang-key="buy_now">Mua ngay</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="section-discover" style="margin-bottom: 64px;">
    <div class="container">
        <div class="section-content" style="margin: 0 auto;">
            <div class="discover-head" style="margin-bottom: 24px;">
                <h2 class="discover-title">
                    <span style="font-size: 16px;line-height: 1.5;" class="d-block discover-heading" data-lang-key="heading_discover" >KHÁM PHÁ</span>
                </h2>
            </div>
            <div class="discover-main">
                <div class="discover-list row g-4">

                    <!-- Product item -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="discover-product-card">
                            <a href="/discover-product/detail/1">
                                <img src="/frame/Storage_Img/product-img/product1.jpg" alt="">
                            </a>

                            <a href="/product/detail/1">
                                <h3 class="product-title">Tên sản phẩm 1</h3>
                            </a>

                            <div class="buy">
                                <p class="product-price">350.000đ</p>
                                <a href="/product/detail/1" class="btn-buy" data-lang-key="buy_now">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="discover-product-card">
                            <a href="/discover-product/detail/1">
                                <img src="/frame/Storage_Img/product-img/product1.jpg" alt="">
                            </a>

                            <a href="/product/detail/1">
                                <h3 class="product-title">Tên sản phẩm 1</h3>
                            </a>

                            <div class="buy">
                                <p class="product-price">350.000đ</p>
                                <a href="/product/detail/1" class="btn-buy" data-lang-key="buy_now">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="discover-product-card">
                            <a href="/discover-product/detail/1">
                                <img src="/frame/Storage_Img/product-img/product1.jpg" alt="">
                            </a>

                            <a href="/product/detail/1">
                                <h3 class="product-title">Tên sản phẩm 1</h3>
                            </a>

                            <div class="buy">
                                <p class="product-price">350.000đ</p>
                                <a href="/product/detail/1" class="btn-buy" data-lang-key="buy_now">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="discover-product-card">
                            <a href="/discover-product/detail/1">
                                <img src="/frame/Storage_Img/product-img/product1.jpg" alt="">
                            </a>

                            <a href="/product/detail/1">
                                <h3 class="product-title">Tên sản phẩm 1</h3>
                            </a>

                            <div class="buy">
                                <p class="product-price">350.000đ</p>
                                <a href="/product/detail/1" class="btn-buy" data-lang-key="buy_now">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="discover-product-card">
                            <a href="/discover-product/detail/1">
                                <img src="/frame/Storage_Img/product-img/product1.jpg" alt="">
                            </a>

                            <a href="/product/detail/1">
                                <h3 class="product-title">Tên sản phẩm 1</h3>
                            </a>

                            <div class="buy">
                                <p class="product-price">350.000đ</p>
                                <a href="/product/detail/1" class="btn-buy" data-lang-key="buy_now">Mua ngay</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-lead-common">
    <div class="container">
        <div class="section-content">
            <p class="title" data-lang-key="consultation">
                Đăng ký tư vấn
            </p>
            <p style="max-width: 435px; margin: 0 auto 30px;    font-style: italic;" class="intro" data-lang-key="intro" >
                Đăng ký ngay hôm nay để nhận thông tin chính thức và tư vấn từ đội IoT City
            </p>
        </div>

        <form action="" method="post" class="form-subscribe">
            <input type="text" name="FullNam" id="FullNam" data-lang-placeholder="fullname_placeholder" required>
            <input type="date" name="date" id="date" required>
            <input type="number" name="number" id="number" data-lang-placeholder="phone_placeholder" required>

            <input type="email" name="email" id="email" data-lang-placeholder="email_placeholder" required>

            <div class="checkbox-area">
                <input type="checkbox" name="agree" id="agree" style="padding: 20px;width: 40px;height: 26px;" required>
                <span style="color: var(--text); font-size:16px;">
                <span data-lang-key="commit_agree">Tôi đồng ý cho phép đội IoT City xử lý dữ liệu cá nhân của tôi và các thông tin khác do tôi cung cấp cho mục đích và theo phương thức được mô tả chi tiết tại</span>
                <a href="#" data-lang-key="commit_private">Chính sách Bảo vệ Dữ liệu cá nhân</a>.
            </span>

            </div>

            <button type="submit" data-lang-key="submit">Đăng ký</button>
        </form>

    </div>
</div>

<footer>
    <div class="container">
        <div class="row footer-bottom">
            <div class="col-12 col-lg-4">
                <a href="" class="logo d-flex justify-content-center">
                    <img src="/frame/Storage_Img/login-img/Logo-img.webp" alt="" style="height: 100px; margin-bottom:30px">
                </a>
                <p class="company-name" data-lang-key="greeting">ĐỘI IOT CITY ĐẾN TỪ CNTT 17-01 NGHÊNH CHIẾN </p>
                <P data-lang-key="address">
                    <strong>Địa chỉ trụ sở chính: </strong>
                    Phòng Lab AIoT, Trường Đại học Đại Nam - Số 1 phố Xốm – phường Phú Lương – TP. Hà Nội
                </P>
            </div>
            <div class="col-12 col-lg-8">
                <h2 class="member-heading" data-lang-key="IoT_City">Đội IoT City</h2>
                <div class="we-member">
                    <div class="member">
                        <ul>
                            <li class="name-member">Đinh Trường Phong</li>
                            <li class="mobile-phone"><i class="btn-icon ti-mobile"></i>09886347009</li>
                            <li class="emal-member"><i class="btn-icon ti-email"></i>dtphong709@gmail.com</li>
                            <li class="facebook-member"><i class="btn-icon ti-facebook"></i>facebook.com/Kvasir.04/</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="name-member">Trần Anh Tú</li>
                            <li class="mobile-phone"><i class="btn-icon ti-mobile"></i>0123456789</li>
                            <li class="emal-member"><i class="btn-icon ti-email"></i>email@gmail.com</li>
                            <li class="facebook-member"><i class="btn-icon ti-facebook"></i>facebook.com//</li>
                        </ul>
                    </div>
                    <div class="member">
                        <ul>
                            <li class="name-member">Nguyễn Quang Vinh</li>
                            <li class="mobile-phone"><i class="btn-icon ti-mobile"></i>0123456789</li>
                            <li class="emal-member"><i class="btn-icon ti-email"></i>email@gmail.com</li>
                            <li class="facebook-member"><i class="btn-icon ti-facebook"></i>facebook.com//</li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/frame/javacrip/index.js"></script>
<script src="/frame/lang/lang.js"></script>
</body>

</html>
