*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

p{
    margin-bottom: 0;
}

:root{
    --bg:#fff;
    --card: #fff;
    --brand:#ff6600;
    --text-header:#000;
    --text-heading:#fff;
    --text:#000;
    --bg-common:#f4f4f4;
    
}
.dark{
    --bg:#16191D;
    --card: #22262B;
    --brand:#ff6600;
    --text-header:#fff;
    --text-heading:#000;
    --text:#fff;
    --bg-common:#5e5e5e;
}

body{
    background: var(--bg);
    color: var(--text);
    transition: background 0.25s ease, color 0.25s ease;
}

/*------------ header------------ */

.header {
    width: 100%;
    z-index: 10;
}

.header-bottom {
    height: 84px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--card);
}

/* Logo */
.logo img {
    height: 60px;
}

/* Menu */
.nav-link {
    font-size: 16px;
    transition: 0.3s;
    color: var(--text);
}

.nav-link:hover {
    color: #ff6600 !important;
    transform: translateY(-2px);
}

/* Account */
.account {
    font-size: 15px;
}


nav .nav {
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    nav .nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.btn-darkmode {
    background: #000;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color:#fff;
}

.btn-darkmode:hover {
    background: #ff6600;
    color: #000;
}



.lang-flag {
    cursor: pointer;
    font-size: 20px;
    transition: .2s;
}

.lang-flag:hover {
    transform: scale(1.1);
}


/*------------ Silder ------------*/

.slider-wrapper {
    width: 100%;
    overflow: hidden;
}

.slider-img {
    width: 100%;
    height: auto;             
    display: block;
    object-fit: cover;        
    object-position: center -50px;
    transition: opacity 0.5s ease;   
    opacity: 1;
}

.slider-img.fade-out {
    opacity: 0;   /* mờ đi */
}


/* ------------ bestSale-list ------------ */

.section-bestSale{
    margin-bottom: 80px;
}

.bestSale-header{
    text-align: center;
}

.bestSale-heading , .discover-heading{
    background: #e54f3b;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 12px;
    padding: 4px 8px 8px;
    width: 100%;
}

.bestSale-list {
    margin-top: 20px;
}

.product-card {
    background: var(--card);
    border-radius: 10px;
    padding: 15px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: 0.25s;
}

.product-card  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.discover-product-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 18px rgba(0,0,0,0.15);
}

.product-title {
    font-size: 17px;
    margin: 12px 0 4px;
    font-weight: 600;
}

.product-price {
    color: #ff6600;
    font-size: 20px;
    font-weight: 800;
}

.buy{
    display: flex;
    justify-content: space-between;
}

.btn-buy {
    background: linear-gradient(135deg, #ff7a18, #ff4800);
    color: white;
    padding: 4px 18px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: 0 4px 12px rgba(255, 106, 0, 0.4);
}

.btn-buy:hover {
    background: linear-gradient(135deg, #ff8f3d, #ff5e22);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 18px rgba(255, 106, 0, 0.55);
}

.btn-buy:active {
    transform: scale(0.95);
}


.discover-title {
    font-weight: 600;
    text-align: center;
}


.discover-product-card {
    background: var(--card);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: 0.25s;
}


.discover-product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 18px rgba(0,0,0,0.15);
}


.discover-product-card .image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;     
    overflow: hidden;
    border-radius: 10px;
}

/*------------ section-lead-common ------------ */

.section-lead-common{
    background:  var(--bg-common);
    padding: 60px 0;
}

.section-lead-common .section-content {
    margin: 0 auto 0;
    max-width: 660px;
    text-align: center;
}


.section-lead-common .title, .member-heading {
    border-bottom: 1px solid var(--under-line-gray);
    color:  #ff6600;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 24px;
    padding-bottom: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid;
}

@media screen and (min-width: 769px) {
    .section-lead-common .title {
        font-size: 36px;
    }
}

.form-subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 32px;
    border-radius: 12px;
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

.form-subscribe input[type="text"],
.form-subscribe input[type="date"],
.form-subscribe input[type="number"],
.form-subscribe input[type="email"] {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.2s ease;
}

.form-subscribe input:focus {
    border-color: #ff6600;
    box-shadow: 0 0 0 3px rgba(255,102,0,0.2);
    outline: none;
}


.form-subscribe .checkbox-area {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
}

.form-subscribe .checkbox-area span {
    font-size: 14px;
    color: #444;
}

.form-subscribe .checkbox-area a {
    color: #ff6600;
    text-decoration: none;
}

.form-subscribe button {
    padding: 14px;
    border: none;
    background: #ff6600;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.2s;
}

.form-subscribe button:hover {
    background: #e04f00;
}


@media (max-width: 480px) {
    .form-subscribe {
        padding: 20px;
    }
}


/* -----------footer------------- */
.footer-bottom{
    padding:40px 0;
}

footer {
    background: var(--card);
    padding: 40px 0;
}

.company-name{
    margin: 15px 0;
    font-weight: 650;
    font-style: italic;
}

.we-member {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}


.member {
    flex: 1 1 calc(33.333% - 24px); 
    background: var(--bg);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.member ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.member li {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 650;
}

.member i {
    margin-right: 6px;
    font-size: 18px;
}
.member .name-member{
    font-size: 20px;
    text-align: center;
    margin-bottom: 22px;
    color: #ff6600;
    font-weight: 700;
}
.member-heading{
    text-align: center;
    font-size: 30px;
}

footer .btn-icon{
    margin-right: 15px;
    margin-left: 10px;
}




@media (max-width: 992px) {
    .member {
        flex: 1 1 calc(50% - 24px);
    }
}


@media (max-width: 576px) {
    .member {
        flex: 1 1 100%;
    }
}
