*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    background: url(/frame/Storage_Img/login-img/backgourd-login.jpg) top center/cover no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 66px 0 56px;
}

#main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3); /* chỉnh độ mờ tại đây */
}

.container{
    margin: 0 auto;
    width: 60%;
    height: auto;
    background-color: #fff;
    border-radius: 12px;
}

.container .auth-content{
    padding: 40px 60px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    height: 100%;
    z-index: 1;
}

.container  .logo{
    text-align: center;
}

.container img{
    height: 100px;
}

.container .title{
    padding: 40px 12px;
}

.container .title h2{
    margin-bottom: 6px;
}

.container .title p{
    color: #878787;
}

.container .form-group{
    margin-bottom: 35px;
}

.container .box-label{
    color: rgba(35, 31, 64, 0.8);
    display: block;
    margin-bottom: 2px;
    font-size: 16px; 
    padding-left: 12px;
}

.container .box-input{
    width: 100%;
    height: 45px;
    background: #ffffff;
    transition: 0.3s;
    border: 2px solid #cdd4e7;
    position: relative;
    padding: 0 12px;
    border-radius: 6px;
}

.remember-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    width: 100%;
    margin-top: 10px;
}

.remember-left {
    display: flex;
    align-items: center;  
    gap: 6px;              
}

.forgot-link {
    text-decoration: none;
    color: #ff7b00;
}

.btn-sumit{
    padding: 14px 24px;
    border-radius: 100px;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    background-color: rgb(255, 139, 55);
    cursor: pointer;
    border: none;
}

.btn-sumit:hover{
    background-color: #878787;
    color: #fff;
}

.singnup-text{
    padding: 32px 0 0;
    text-align: center;
}

.singnup-text a{
    color: #ff7b00;
}


