*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    background: url(/project/movie/Storage_Img/login-img/backgourd-login.jpg) top center/cover no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 66px 0 56px;
    z-index: 0;
}


#main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: -1;
}


.container{
    margin: 0 auto;
    width: 80% !important;
    height: auto;
    background-color: #fff;
    border-radius: 12px;
    
}

.container .auth-content{
    padding: 40px 60px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    height: 100%;
}

.container  .logo{
    text-align: center;
}

.container img{
    height: 100px;
}


.container .title{
    padding: 40px 0 12px;
}

.container .title h2{
    margin-bottom: 6px;
}

.container .title p{
    color: #878787;
}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.single-filed{
    margin-bottom: 30px;
}

.box-label{
    color: rgba(35, 31, 64, 0.8);
    display: block;
    margin-bottom: 0px;
    font-size: 14px;
}

.box-input{
    width: 100%;
    height: 45px;
    background: #ffffff;
    transition: 0.3s;
    border: 2px solid #cdd4e7;
    position: relative;
    padding: 0 12px;
    border-radius: 6px;
}

.check-input{
    margin-right: 5px;
    border: 1px solid #cdd4e7;
    height: 1.3em;
    width: 1.3em;
    margin-top: 2px;
    position: absolute;
}

.primary-btn{
    color: #ffffff;
    background:  rgb(255, 139, 55);
}

.site-btn-big{
    display: inline-block;
    padding: 14px 24px;
    border-radius: 100px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    margin-bottom:30px ;
}

.primary-btn:hover{
    background-color: #878787;
    color: #fff;
}



@media (max-width: 768px) {

    #main{
        height: auto;            
        padding: 40px 0 40px;
    }

    .container{
        width: 90%;            
    }

    .container .auth-content{
        padding: 25px;
    }
}